body{
    font-family: Arial;
    margin:0;
    background:#0f172a;
    color:white;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(120deg,#1e3a8a,#2563eb);
}

.btn{
    background:white;
    color:black;
    padding:12px 25px;
    text-decoration:none;
    border-radius:6px;
    display:inline-block;
    margin-top:20px;
    font-weight:bold;
}

section{
    padding:60px 10%;
}

.skills span{
    display:inline-block;
    background:#1e293b;
    padding:10px 18px;
    margin:8px;
    border-radius:6px;
}

.card{
    background:#1e293b;
    padding:25px;
    margin:20px 0;
    border-radius:10px;
}
